.button-arrow {
  display: flex;
  align-items: center;
  height: 32px;
  background: #FF3E79; /* value */
  border-radius: 16px;
  transition: all 0.4s ease;

  &__img {
    padding: 9px 11px;
  }
  &__text {
    margin-left: 12px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF; /* value */
  }

  &:hover, &:focus {
    filter: hue-rotate(180deg) brightness(1.5);
  }

  &--hidden {
    display: none;
  }
}
