.button-icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $button-icon--background;
    transition: all 0.6s ease;
    outline: none;

    &__img {
        margin: auto;
    }

    &:hover, &:focus {
        filter: hue-rotate(180deg) brightness(1.5);
        transform: scale(1.1);
    }
}
