.button {
  display: inline-block;
  height: 40px;
  padding: 9px 0;
  background-color: inherit;
  transition: all 0.4s ease;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  color: $button--color;

  &__text {
    font-size: 16px;
    letter-spacing: -0.2px;
    margin: 0 20px;
  }

  &--active {
    border: $button--active--border;
    background: $button--active--background;
  }

  &:focus, &:hover {
    box-shadow: $button--focus--box-shadow;
  }

  &__img {
    margin-left: 16px;
    height: 32px;
    width: auto;
  }

  &__img--small {
    height: 52px;
  }

  &__img--big {
    height: 22px;
  }

  &__img--little-big {
    height: 26px;
  }

  &--brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    border: 1px solid #EAEAEA; /* value */
    background: #fff; /* value */
  }

  &__arrow {
    margin-right: 16px;
  }
}
