.footer {
  background: inherit;

  &__contacts {
    margin-left: 24px;
  }
  &__email {
    margin-left: 24px;
    margin-top: 16px;
  }
  &__phone-number {
    margin-left: 24px;
    margin-top: 16px;
  }
  &__lang-panel {
    margin-left: 24px;
  }
}
