.header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 87px;
    width: 100%;
    background: $header--background;
    box-shadow: 0 1px 0 0 #D9FFF5;

    &__button-icon {
        margin-right: 16px;
    }
    &__divider {
        display: none;
        margin-right: 20px;
        margin-left: 4px;
        @media (min-width: $small-screen) {
            display: block;
        }
    }
    &__logo {
        margin-right: auto;
    }
    &__contacts {
        display: none;
        margin-right: 16px;
        @media (min-width: $small-screen) {
            display: flex;
        }
    }
    &--without-box-shadow {
      box-shadow: none;
    }
    &__title {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7E7E82; /* variables */
    }
}
