.header {
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 87px;
    background: $header--background;
    box-shadow: 0 1px 0 0 $header--box-shadow-color;

    &__button-icon {
        margin-right: 16px;
    }
    &__divider {
        display: none;
        margin-right: 20px;
        margin-left: 4px;
        @media (min-width: $small-screen) {
            display: block;
        }
    }
    &__logo {
        margin-right: auto;
    }
    &__contacts {
        display: none;
        margin-right: 16px;
        @media (min-width: $small-screen) {
            display: flex;
        }
    }
    &--without-box-shadow {
      box-shadow: none;
    }
}
