.info {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $info--color;

  &__paragraph-2 {
    margin-top: 20px;
    @media (max-width: $small-screen - 1) {
      display: none;
    }
  }
  &__paragraph-2--visible {
    display: block;
  }
  &__paragraph-2-continuation {
    @media (max-width: $middle-screen - 1) {
      display: none;
    }
  }
  &__paragraph-2-continuation--visible {
    display: inline;
  }
  &__show-hide-button {
    margin-top: 10px;
  }
}
