.note {
  padding-bottom: 32px;
  //box-shadow: 0 2px 0 0 #D9FFF5;

  &__text {
    margin-left: 24px;
    max-width: 420px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21; /* value */
    padding-bottom: 16px;
  }
  &__button {
    margin-left: 24px;
    height: auto;
    text-align: left;
    background: inherit;
  }
  &__button-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; /* value */
  }
  &__button-img {
    margin-left: 8px;
  }
}
