.services-and-facilities {
    background: #F8F8F8;

    &__header {
        box-shadow: 0 1px 0 0 #D9FFF5;
        @media (min-width: 1120px) {
            display: none;
        }
    }
    &__main {
        margin-top: 24px;
        @media (min-width: 1120px) {
            margin-top: 0;
        }
    }
    &__swiper {
      margin-top: 24px;
      @media (min-width: 768px) {
        margin-left: 24px;
      }
      @media (min-width: 1120px) {
        margin-left: 32px;
      }
    }
}
