.services-and-facilities {
  background: $services-and-facilities--background;
  overflow: hidden;

  &__header {
    @media (min-width: $large-screen) {
      display: none;
    }
  }
  &__main {
    margin-top: 24px;
    @media (min-width: $large-screen) {
      margin-top: 0;
    }
  }
  &__swiper {
    margin-top: 24px;
    @media (min-width: $small-screen) {
      margin-left: 24px;
    }
    @media (min-width: $large-screen) {
      margin-left: 32px;
    }
  }
  &__info-and-picture-wrapper {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    @media (min-width: $small-screen) {
      flex-direction: row;
      margin-left: 8px;
    }
    @media (min-width: $large-screen) {
      margin-left: 16px;
    }
  }
  &__info {
    @media (min-width: $small-screen) {
      margin-right: 48px;
    }
  }
  &__picture {
    margin-top: 16px;
    flex-shrink: 0;
    align-self: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    @media (min-width: $small-screen) {
      width: 45%;
      max-width: 500px;
      margin: 0;
    }
  }
  &__picture-img {
    width: 100%;
    height: auto;
  }
}
