.service-block {
  position: relative;
  background: $service-block--background-color;
  width: 260px;
  height: 200px;
  padding: 16px;
  border-radius: 6px;

  &__title {
    color: $service-block__title--color;
    opacity: 0.72;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 4px;

    @media (min-width: $small-screen) {
      display: none;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $service-block__text--color;
  }
  &__text-block {
    margin-bottom: 16px;

    @media (min-width: $small-screen) {
      margin: 0;
      display: flex;
      align-items: center;
      padding: 16px;
      padding-left: 8px;
    }
  }
  &__button-arrow {
    position: absolute;
    bottom: 16px;
    right: 16px;

    @media (min-width: $small-screen) {
      position: static;
      margin-top: 8px;
      margin-right: 8px;
    }
  }
}
