.side-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 320px;
  background-color: $side-menu--background-color;
  box-shadow: 16px 0px 52px $side-menu--box-shadow-color;
  z-index: 10000;
  min-height: 100%;

  &__vertical-menu {
    margin-bottom: 32px;
    background-color: $side-menu__vertical-menu--background-color;
  }

  &__footer {
    padding-bottom: 16px;
    background-color: $side-menu__footer--background-color;

    @media (min-width: $small-screen) {
      margin-top: 240px;
    }
  }
}
