.small-header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 80px;
  background: $small-header--background;
  box-shadow: 0 -2px 0 0 $small-header--box-shadow-color;

  &__title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-weight: normal;
    color: $small-header__title--color;
  }
}
