.swiper-pagination {
  position: static;
  margin-top: 16px;

  &-bullet {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    opacity: 1;
    background-color: $swiper-pagination__bullet--background-color;

    &-active {
      background-color: $swiper-pagination__bullet--active--background-color;
    }
  }
}
