.title {
    display: flex;
    height: 40px;
    width: 100%;

    &__hightlight {
        margin-right: 12px;

        @media (min-width: $small-screen) {
            margin-right: 20px;
        }
        @media (min-width: $large-screen) {
            margin-right: 32px;
        }
    }
    &__h1 {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: $title__h1--color;
        margin-right: auto;
    }
    &__settings {
        display: none;
        padding-right: 30px;
        @media (min-width: $large-screen) {
            display: flex;
        }
    }
}
