$small-screen: 768px;
$middle-screen: 1120px;
$large-screen: 1440px;

$default-text--color: #1B1C21;
$color--active: #7E7E82;
$services-and-facilities--background: #F8F8F8;
$header--background: #FFF;
$button--active--background: #FFF;
$button--color: #7E7E82;
$horizontal-button--color--active: $color--active;
$button-icon--background: #FF3E79;
$button--border-color: #B8FFEC;
$button--active--border: 2px solid $button--border-color;
$button--focus--box-shadow: inset 0 0 3px 1px $button--border-color;
$divider--background: #eaeaea;
$label__text--color: $default-text--color;
$title__h1--color: $default-text--color;
$info--color: $default-text--color;
$show-hide-button__text--color: $default-text--color;
$horizontal-button--color: $default-text--color;
$phone-number--color: $default-text--color;
$email--color: $default-text--color;
$lang-panel__button--color: $default-text--color;
$text--hover--opacity: 0.7;
