$small-screen: 768px;
$middle-screen: 1120px;
$large-screen: 1440px;


$services-and-facilities--background: #F8F8F8;

$header--background: #FFF;

$button--active--background: #FFF;
$button--color: #7E7E82;

$horizontal-button--color--active: #7E7E82;

$button-icon--background: #FF3E79;

$button--border-color: #B8FFEC;
$button--active--border: 2px solid #B8FFEC;
$button--focus--box-shadow: inset 0 0 3px 1px #B8FFEC;

$divider--background: #eaeaea;

$label__text--color: #1B1C21;

$title__h1--color: #1B1C21;

$info--color: #1B1C21;

$show-hide-button__text--color: #1B1C21;

$horizontal-button--color: #1B1C21;

$phone-number--color: #1B1C21;

$email--color: #1B1C21;

$lang-panel__button--color: #1B1C21;
$lang-panel__button--active--color: #7E7E82;

$brand-button--background-color: #fff;
$brand-button--border-color: #eaeaea;

$button-arrow--background-color: #FF3E79;
$button-arrow__text--color: #fff;

$equipment-button__text--color: #1B1C21;

$fog-of-war--background-color: #fff;

$footer--background-color: #fff;
$footer__text--color: #7E7E82;

$header--box-shadow-color: #D9FFF5;

$input-text--border-color: #eaeaea;
$input-text--placeholder-color: #B5B6BC;

$link--color: #FF3E79;

$modal--box-shadow-color: rgba(14, 24, 80, 0.2);
$modal--background-color: #fff;

$my-site--background-color: #fff;
$my-site__service-and-facilities--box-shadow-color: #D9FFF5;
$my-site__footer--box-shadow-color: #D9FFF5;

$note__text--color: #1B1C21;
$note__button-text--color: #1B1C21;

$phone-number--color: #1B1C21;

$pressing-send--color: #7E7E82;

$service-block--background-color: #fff;
$service-block__title--color: #7E7E82;
$service-block__text--color: #1B1C21;

$service-prices--background-color: #f8f8f8;
$show-hide-swiper-menu--background-color: #F8F8F8;

$side-menu--background-color: #fff;
$side-menu--box-shadow-color: rgba(14, 24, 80, 0.2);
$side-menu__vertical-menu--background-color: #fff;
$side-menu__footer--background-color: #fff;

$small-header--background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
$small-header--box-shadow-color: #D9FFF5;
$small-header__title--color: #7E7E82;

$swiper-pagination__bullet--background-color: #DDDDDD;
$swiper-pagination__bullet--active--background-color: #B5B6BC;

$slide-slide__service-block--border-top-color: #eaeaea;

$swiper-wrapper--service-prices--background-color: #fff;

$title-container__title--color: #7E7E82;
